body {
    background: #f0f2f5;
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #222;
}


main {
    max-width: 600px;
    margin: 0 auto;
}


img {
    width: 170px;
    border-radius: 50%;
    margin: 20px 0;
}

.perfil,
.contato {
    background: #ffffffaa;
    padding: 20px;
    border-radius: 12px;
    margin: 20px 0;
}


.contato a {
    display: inline-block;
    margin: 8px;
    padding: 10px 18px;
    background: #222;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
}

.contato a:hover {
    background: #555;
}


#toggle-theme {
    margin-top: 20px;
    padding: 10px 20px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

#toggle-theme:hover {
    background: #444;
}

/* Tema escuro */
.dark-mode {
    background: #0f0f0f;
    color: #fff;
}

.dark-mode h1 {
    color: #fff;
}

.dark-mode a {
    background: #fff;
    color: #000;
}

.dark-mode .perfil,
.dark-mode .contato {
  background: #1a1a1a;
}
